body {
    background-color: rgb(53, 53, 53);
    -webkit-region-fragment: auto;
}

.about {
    background-color: rgb(0, 0, 0);
    position: absolute;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 200px;
    border-radius: 100px;
    margin-left: 25%;
}

.head {
    color: white;
    position: relative;
    font-size: 48px;
}

.desc {
    color: white;
    font-size: 32px;
}

h1 {
    color: white;
    position: absolute;
    text-align: center;
}
h3 {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 32px;
}